#globalFooter {
    padding: 2.5rem 0;

    h2 {
        font-family: var(--kalam);
        font-size: 3rem;
        font-weight: 400;
        letter-spacing: .2rem;
        margin-bottom: 1.25rem;
    }
    div {
        margin: 0 auto;
        max-width: 35rem;
    }
    .socials {
        width: 60vw;
        justify-content: space-between;
    }
    .sitemap {
        font-size: 1.2rem;
        font-weight: 500;
        padding: 2rem;
        gap: 1.25rem;
        justify-content: space-between;
    }
}

.homeRoot #globalFooter {
    background: url('../img/fondo-home.webp') top left / auto;
    margin: 0 -2rem;
}

@media (min-width: 900px) {
    .homeRoot #globalFooter {
        background: url('../img/fondo-home.webp') top left / 150%;
    }
}

.postalesRoot #globalFooter {
    background: var(--cream);
    margin: 0 -2rem;
}
