#globalFooter {
    h2 {
        font-family: var(--kalam);
        font-size: 3rem;
        font-weight: 400;
        letter-spacing: .2rem;
        margin-bottom: 1.25rem;
    }
    div {
        margin: 0 auto;
        max-width: 35rem;
    }
    .socials {
        width: 60vw;
        justify-content: space-between;
    }
    .sitemap {
        font-size: 1.2rem;
        font-weight: 500;
        padding-top: 2rem;
        gap: 1.25rem;
        justify-content: space-between;
    }
}
